@import url(https://fonts.googleapis.com/css?family=League+Script);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

#emoji {
  width: 800px;
  margin: 0 auto;
  margin-top: 10%;
}



#slide_down {
  font-family: 'League Script', cursive;
  text-align: center;
  font-size: 100px;
  color: orange;
  font-weight: 900px;
  position: relative;
  width: 300px;
  height: 140px;
  margin: 0 auto;

}

#slide_up{
  font-family: 'League Script', cursive;
  text-align: center;
  font-size: 100px;
  color: pink;
  font-weight: 900px;
  position: relative;
  -webkit-animation-name: slideu;
}



#space {
  font-family: "Raleway";
  text-align: center;
  font-size: 30px;
  margin-top: 20%;
  font-weight: 300;
  text-decoration: underline;
}

#press {
  font-family: "Raleway";
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  position: fixed;
  width: 100%;
}

#background {
  width: 100%;
  height: 100%;
}

img {
  width: 13%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#emojis{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;

}

.e{
width: 16%;

}



