<!DOCTYPE html>
<html>
<head>
  <title>Emoji Symphony</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body id="body">

<div id="wrapper">
  <div id="slide_down"> Emoji </div>
    <div id="emojis">
      <img class="e" src="assets/emojis/1f600.png">    
      <img class="e" src="assets/emojis/1f3b5.png">
      <img class="e" src="assets/emojis/1f60e.png">
      <img class="e" src="assets/emojis/1f4c0.png">
      <img class="e" src="assets/emojis/1f61c.png">
      <img class="e" src="assets/emojis/1f3b6.png">
    </div>
    <div id="slide_up">Symphony </div>
</div>  


  <div id="press">
    Press A-Z, 0-9 to Compose Your Masterpiece
  </div>
</div>

<!-- <audio id="sounds" src="mp3/sound1.mp3" type="audio/mp3"></audio> -->






<%= yield %>
<footer id="footer">
  <button id="button" class="btn_style">Play Symphony</button>
  <button id="reset" class="btn_style" type="reset"> Clear </button>
</footer>
</body>
</html>
